apiVersion: 1

providers:
  - name: 'k8s'
    orgId: 1
    folder: 'Kubernetes'
    folderUid: ''
    type: file
    disableDeletion: true
    editable: true
    options:
      path: /etc/grafana/provisioning/dashboards/k8s