services:
  # prometheus:
  #   image: prom/prometheus
  #   container_name: prometheus
  #   restart: on-failure
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - /home/monitoring/config/prometheus:/etc/prometheus
  #   command:
  #     - '--config.file=/etc/prometheus/prometheus.yml'
  #     - '--enable-feature=native-histograms'
  #   networks:
  #     - monitoring

  # alertmanager:
  #   image: prom/alertmanager
  #   container_name: alertmanager
  #   restart: on-failure
  #   ports:
  #     - "9093:9093"
  #   volumes:
  #     - /home/monitoring/config/alertmanager:/etc/alertmanager
  #   networks:
  #     - monitoring

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: on-failure
    ports:
      - "3000:3000"
    volumes:
      - grafana_storage:/var/lib/grafana
      - /home/monitoring/config/grafana/datasources:/etc/grafana/provisioning/datasources
      - /home/monitoring/config/grafana/dashboards:/etc/grafana/provisioning/dashboards
    environment:
      - GF_INSTALL_PLUGINS=grafana-polystat-panel
      - GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    networks:
      - monitoring

  nginx-vault:
    image: nginx:latest
    ports:
      - "8200:80"
    networks:
      - vault
volumes:
  grafana_storage: {}
networks:
  monitoring:
  vault: